.nav-container {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}