.create-post-page {

    .form-container {

        form {
            .imgLabel {
                background-color: white;
                color: rgb(107, 107, 107);
                padding: 0.5rem 1rem;
                border-radius: 10px;
                font-size: 0.9rem;
            }
        }
    }
}